[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[push]
	default = simple
[user]
	name = Hans Zhou
	email = hans@remarkablefoods.com
[alias]
	conf = "! vim ~/.gitconfig;"
	graph = log --graph --color --oneline
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	co = checkout
	cp = cherry-pick
	ci = commit -a
	uncommit = reset HEAD~
	ciam = commit -a -m
	aa = commit -a --amend
	nb = checkout -b
	fp = push --force
	b = rev-parse --abbrev-ref HEAD
	up = "! f() { git push --set-upstream origin `git b`; }; f;"
	alias = config --get-regexp alias
	db = branch -D
	drab = push --delete origin
	redate = commit --amend --no-edit --date=now
	rdp = !git redate && git push -f
	pob = "! f() { git fetch origin $1:$1; }; f"
	refresh = pob master
	noop = commit --amend --no-edit
	noop-push = !git noop && git push -f
[pull]
	rebase = false
[core]
	commentchar = ";"
